.tk-roc-grotesk {
  font-family: "roc-grotesk", sans-serif !important;
}

.tk-roc-grotesk-condensed {
  font-family: "roc-grotesk-condensed", sans-serif !important;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-650 {
  font-weight: 650;
}

.weight-700,
.weight-bold {
  font-weight: bold;
}

.weight-800 {
  font-weight: 800;
}

.text-white {
  color: #ffffff;
}

.text-main {
  color: #7D99AE !important;
}

.text-co-main {
  color: #7D99AE !important;
}

.text-light-purple {
  color: #dbd5e6;
}

.text-purple {
  color: #863fa4;
}

.text-dark-purple {
  color: #7D99AE;
}

p.text-dark-purple {
  color: black;
}

.text-yellow {
  color: #F36A2E;
}

.text-new-blue {
  color: #cceaf3;
}

.text-color-blue {
  color: #213A8F;
}

.text-color-tile {
  color: #4FC1BF;
}

.text-grey {
  color: darkgray;
}

.stroke-yellow {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F36A2E;
}

.stroke-yellow-small {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F36A2E;
}

.stroke-new-blue {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cceaf3;
}

.stroke-purple {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #863fa4;
}

.stroke-main-text {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5f5080;
}

.stroke-white {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}

.stroke-blue {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #213A8F;
}

.stroke-tile {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4FC1BF;
}

.allow-scroll-hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.allow-scroll-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: 992px) {
  .allow-scroll-hide-scrollbar--large {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .allow-scroll-hide-scrollbar--large::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.border-circle {
  border-radius: 50% !important;
}

.br-a-2 {
  border-top-left-radius: 2rem !important;
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}

.border-bottom-yellow {
  border-bottom: 1px solid #F36A2E;
}

.z-index-1 {
  z-index: 1;
}

.no-bckg-img {
  background-image: none !important;
}

.bckg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-link-underline {
  text-decoration: underline;
}

.text-main-link-underline:hover {
  color: #7D99AE;
}

.text-main-link-underline:visited {
  color: #7D99AE;
}

.text-main-link-underline:focus {
  color: #7D99AE;
}

.dotted-link {
  text-decoration: underline dotted red;
}

.mt-75px {
  margin-top: 35px;
}

@media screen and (min-width: 992px) {
  .mt-75px {
    margin-top: 75px;
  }
}

.mt-90px {
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .mt-90px {
    margin-top: 90px;
  }
}

.mb-90px {
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .mb-90px {
    argin-bottom: 90px;
  }
}

.mb-180px {
  margin-bottom: 180px;
}

.lh-0_7 {
  line-height: 0.7 !important;
}

.lh-0_9 {
  line-height: 0.9 !important;
}

.lh-1_19 {
  line-height: 1.19 !important;
}

.lh-1_3 {
  line-height: 1.3 !important;
}

.lh-1_7 {
  line-height: 1.7 !important;
}

.lh-1_8 {
  line-height: 1.8 !important;
}

.lh-2 {
  line-height: 2 !important;
}

@media screen and (max-width: 1023px) {
  .show-for-large {
    display: none !important;
  }
}

.bg-color-main {
  background-color: #5F5080;
}

.bg-color-tile {
  background-color: #4FC1BF !important;
}

.bg-color-dark-purple {
  background-color: #863fa4 !important;
}

.bg-color-super-dark-purple {
  background-color: #863fa4;
}

.bg-color-bright-purple {
  background-color: #6E5EFF;
}

.bg-color-blue {
  background-color: #64B5F1;
}

.bg-color-dark-blue {
  background-color: #213A8F !important;
}

.bg-color-dark-green {
  background-color: #4FC192 !important;
}

.bg-color-light-blue {
  background-color: #5e79b2 !important;
}

.bg-galaxy {
  background-color: #2A265B;
}

.bg-color-light-green {
  background-color: #C9DDAA;
}



/* .bg-color-light-blue {
  background-color: #5e79b2;
} */

.bg-color-astro-blue {
  background-color: #213A8F;
}

.bg-color-grey-1 {
  background-color: #F9F9F9;
}

.bg-color-grey-2 {
  background-color: #acacac !important;
}



/* ------------------------------------------------------ */
/* --------------------- TEXT SIZES --------------------- */
/* ------------------------------------------------------ */
.text-12 {
  font-size: 12px;
}

.text-16 {
  font-size: 14px;
}

.text-18 {
  font-size: 15px;
}

.text-20 {
  font-size: 16px;
}

.text-21 {
  font-size: 16px;
}

.text-32 {
  font-size: 24px;
}

.text-42 {
  font-size: 28px;
}

.text-51 {
  font-size: 30px;
}

.text-57 {
  font-size: 30px;
}

.text-60 {
  font-size: 33px;
}

.text-64 {
  font-size: 35px;
}

.text-70 {
  font-size: 37px;
}

.text-89 {
  font-size: 38px;
}

.text-92 {
  font-size: 38px;
}

.text-101 {
  font-size: 42px;
}

.text-110 {
  font-size: 43px;
}

.text-136 {
  font-size: 45px;
}

.text-150 {
  font-size: 70px;
}


@media screen and (min-width: 768px) {

  .text-18 {
    font-size: 16px;
  }

  .text-20 {
    font-size: 16px;
  }

  .text-21 {
    font-size: 17px;
  }

  .text-32 {
    font-size: 26px;
  }

  .text-42 {
    font-size: 32px;
  }

  .text-51 {
    font-size: 35px;
  }

  .text-57 {
    font-size: 35px;
  }

  .text-60 {
    font-size: 38px;
  }

  .text-64 {
    font-size: 40px;
  }

  .text-70 {
    font-size: 50px;
  }

  .text-89 {
    font-size: 50px;
  }

  .text-92 {
    font-size: 50px;
  }

  .text-101 {
    font-size: 55px;
  }

  .text-110 {
    font-size: 57px;
  }

  .text-136 {
    font-size: 60px;
  }

  .text-150 {
    font-size: 85px;
  }
}

@media screen and (min-width: 992px) {
  .text-16 {
    font-size: 16px;
  }

  .text-18 {
    font-size: 17px;
  }

  .text-20 {
    font-size: 17px;
  }

  .text-21 {
    font-size: 18px;
  }

  .text-32 {
    font-size: 28px;
  }

  .text-42 {
    font-size: 38px;
  }

  .text-51 {
    font-size: 40px;
  }

  .text-57 {
    font-size: 42px;
  }

  .text-60 {
    font-size: 46px;
  }

  .text-64 {
    font-size: 50px;
  }

  .text-89 {
    font-size: 55px;
  }

  .text-92 {
    font-size: 60px;
  }

  .text-101 {
    font-size: 65px;
  }

  .text-110 {
    font-size: 67px;
  }

  .text-136 {
    font-size: 70px;
  }

  .text-150 {
    font-size: 90px;
  }
}

@media screen and (min-width: 1400px) {
  .text-18 {
    font-size: 18px;
  }

  .text-20 {
    font-size: 19px;
  }

  .text-21 {
    font-size: 20px;
  }

  .text-32 {
    font-size: 30px;
  }

  .text-42 {
    font-size: 40px;
  }

  .text-51 {
    font-size: 51px;
  }

  .text-57 {
    font-size: 57px;
  }

  .text-60 {
    font-size: 60px;
  }

  .text-64 {
    font-size: 54px;
  }

  .text-64-xl {
    font-size: 64px !important;
  }

  .text-70 {
    font-size: 58px;
  }

  .text-70-xl {
    font-size: 67px !important;
  }

  .text-89 {
    font-size: 69px;
  }

  .text-92 {
    font-size: 70px;
  }

  .text-101 {
    font-size: 80px;
  }

  .text-110 {
    font-size: 85px;
  }

  .text-136 {
    font-size: 90px;
  }

  .text-150 {
    font-size: 130px;
  }
}

@media screen and (min-width: 1700px) {
  .text-20 {
    font-size: 20px;
  }

  .text-21 {
    font-size: 21px;
  }

  .text-32 {
    font-size: 32px;
  }

  .text-42 {
    font-size: 42px;
  }

  .text-57 {
    font-size: 57px;
  }

  .text-64 {
    font-size: 64px;
  }

  .text-70 {
    font-size: 70px;
  }

  .text-89 {
    font-size: 89px;
  }

  .text-92 {
    font-size: 92px;
  }

  .text-101 {
    font-size: 101px;
  }

  .text-110 {
    font-size: 110px;
  }

  .text-136 {
    font-size: 136px;
  }

  .text-150 {
    font-size: 150px;
  }

}

/* ------------------------------------------------------------- */
/* --------------------- WIDTH PERCENTAGES --------------------- */
/* ------------------------------------------------------------- */

.w-42 {
  width: 100%;
}

.w-45 {
  width: 45%;
}

.w-65 {
  width: 65%;
}

.w-83 {
  width: 83%;
}

@media screen and (min-width: 768px) {
  .w-42 {
    width: 42%;
  }
}

@media screen and (min-width: 1200px) {
  .mw-xl-89 {
    width: 89%;
  }
}

/* ------------------------------------------------------------- */
/* --------------------- PADDINGS / MARGINS -------------------- */
/* ------------------------------------------------------------- */

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media screen and (min-width: 992px) {
  .px-lg-5 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 992px) {
  .px-lg-6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}

.padd-left-4 {
  padding-left: 4rem !important;
}

.padd-left-2 {
  padding-left: 2rem !important;
}

.mt-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 992px) {
  .mt-lg-6 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }
}

.mt-5 {
  margin-top: 3.5rem;
}

@media screen and (min-width: 992px) {
  .mt-lg-5 {
    margin-top: 5rem !important;
  }
}

.mt-8 {
  margin-top: 4rem;
}

@media screen and (min-width: 992px) {
  .mt-lg-8 {
    margin-top: 8rem !important;
  }
}

.mb-7 {
  margin-bottom: 3.5rem;
}

@media screen and (min-width: 992px) {
  .mb-lg-7 {
    margin-bottom: 7rem !important;
  }
}

.mt-9 {
  margin-top: 4.5rem;
}

@media screen and (min-width: 992px) {
  .mt-lg-9 {
    margin-top: 9rem !important;
  }
}

/* ------------------------------------------------------------- */
/* --------------------- BORDERS -------------------- */
/* ------------------------------------------------------------- */

.border-bottom-tile {
  border-bottom: #4FC1BF;
}

.text-right {
  text-align: right;
}


/* ------------------------------------------------------------- */
/* --------------------- COLUMNS -------------------- */
/* ------------------------------------------------------------- */

.participating-countries .col-2 {
  width: 13.666667%;
}

@media screen and (min-width: 768px) {
  .participating-countries .col-2 {
    width: 16.666667%;
  }
}