.study-locations .hero-banner {
  background: linear-gradient(to right, #ffffff, transparent 80%),
    url("../images/hero-locations.png");
  background-position: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}
.study-locations .hero-banner .row {
  height: auto;
}

.study-locations .hero-banner p {
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
}
.study-locations .hero-banner h1 {
  margin-top: 0;
}

.study-locations .hero-banner .content-inner-bg {
  background-color: #f4f4f5;
  border-radius: 47px;
  margin: 16px 0 0;
}

.study-locations .hero-banner .content-inner-bg .row {
  height: auto;
  padding: 10px 47px;
}

.study-locations .curve {
  background: url(../images/curve-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#map {
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  position: relative;
  min-height: 400px;
}

.study-locations .map-search {
  margin: 3rem auto;
  padding-bottom: 100px;
}

.study-locations .search-container {
  border: 1px solid #d8dee6;
  border-radius: 26px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.study-locations .search input[type="text"]{
  padding-left: 3px;
}

@media only screen and (min-width: 760px) {
  .study-locations .search-container {
    flex-direction: row;
  }
}

.study-locations .search {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem;
}
@media only screen and (min-width: 1200px) {
  .study-locations .search {
    padding: 1.5rem 3rem;
  }
}

.study-locations .search .form-group {
  display: flex;
  flex-direction: column;
}

.study-locations .search .error .error-message {
  display: inline-block;
}

.study-locations .search .error-message {
  color: var(--red) !important;
  margin-top: 0.5rem;
  display: none;
}

.study-locations .search label {
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.study-locations .search input[type="text"] {
  background-color: #f7f9fc;
  border: 1px solid #d8dee6;
  border-radius: 10px;
  height: 48px;
}

.study-locations .search input[type="text"]::placeholder {
  color: #a8b2ba;
}

.study-locations .search select {
  background-color: #f7f9fc;
  border: 1px solid #d8dee6;
  border-radius: 10px;
  height: 48px;
}

.study-locations .search .search-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-direction: column;
}
@media only screen and (min-width: 1050px) {
  .study-locations .search .search-buttons {
    flex-direction: row;
  }
}

.search-buttons .button {
  box-shadow: none;
}

.search-buttons .button--search {
  border: none;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1050px) {
  .search-buttons .button--search {
    margin-bottom: 0;
  }
}

.search-buttons .button {
  position: relative;
  transition: all 0.3s ease;
}
.search-buttons .button:hover {
  transform: scale(1.1);
}
.search-buttons .button:hover:after {
  transform: rotate(15deg);
}
.search-buttons .button:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 24px;
  top: 12px;
  transition: all 0.3s ease;
}

.search-buttons .button--search:after {
  background-image: url(../images/icon-search.svg);
}

.search-buttons .button-dark {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 10px 13px rgb(0 60 112 / 20%);
  padding: 15px 56px 15px 26px;
  background: linear-gradient(to right, #167aab, #2c597f);
}

.search-buttons .button-purple {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 10px 13px rgb(0 60 112 / 20%);
  padding: 15px 56px 15px 26px;
  background: #863fa4;
}

.search-buttons .button--reset {
  display: inline-block;
  font-size: 17px;
  line-height: 1;
  border-radius: 40px;
  box-shadow: 0px 10px 13px rgb(0 60 112 / 20%);
  padding: 15px 56px 15px 26px;
  border-color: #295c83;
  border-width: 1px;
  color: #295c83;
  background-color: #fff;
  font-weight: 700;
}

.search-buttons .button--reset:after {
  background-image: url(../images/icon-reset.svg);
}

.search-buttons .button--reset-purple {
  display: inline-block;
  font-size: 17px;
  line-height: 1;
  border-radius: 40px;
  box-shadow: 0px 10px 13px rgb(0 60 112 / 20%);
  padding: 15px 56px 15px 26px;
  border-color: #8670b3;
  border-width: 1px;
  color: #8670b3;
  background-color: #fff;
  font-weight: 700;
}

.search-buttons .button--reset-purple:after {
  background-image: url(../images/icon-reset.svg);
}



.search hr {
  border-top: 1px solid #d8dee6;
  margin: 3.5rem 0 2.5rem;
}

.search-map-key ul {
  padding-left: 0;
}

.search-map-key h6 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 .5rem;
}

.search-map-key .diversity-pin {
    width: 16px;
    height: auto;
    margin-right: 4px;
}


.search-map-key .marker {
  margin-bottom: 0.5rem;
}
li.marker {
  position: relative;
  color: #003c70 !important;
  font-size: 18px;
  line-height: 1.4;
  padding: 8px 32px 8px 0;
}
.search-map-key .marker::before {
  content: " ";
  display: inline-block;
  position: absolute;
}

.search-map-key .marker-mariposa::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-mariposa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.search-map-key .marker-mariposa-2::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-mariposa-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.search-map-key .marker-multi::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-papillon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.search-map-key .marker-mariposa-papillon::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  /* background: url(../images/map-marker-mariposa-papillon.png); */
  background: url(../images/map-marker-purple.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.search-map-key .marker-upcoming::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-upcoming.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.search-map-key .marker-chrysalis::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-chrysalis.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.search-map-key .marker-chrysalis-2::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-chrysalis-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-map-key .marker-tile::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-tile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-map-key .marker-blue::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-blue.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-map-key .marker-light-blue::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-light-blue.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-map-key .marker-green::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-green.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-map-key .marker-purple-2::before {
  right: 0;
  left: auto;
  top: 5px;
  width: 62px;
  height: 30px;
  background: url(../images/map-marker-purple-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.study-locations .location-info-name {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0.5rem;
}

.study-locations .location-info-address {
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.study-locations .location-info-phone {
  margin-bottom: 0.5rem;
}

.study-locations .location-info-directions a p {
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--blue);
}

.participating-countries .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.participating-countries p a {
  color: inherit;
}
.participating-countries-inner {
  background-color: var(--white);
  border-radius: 46px;
}
.countries-header {
  padding: 34px 57px;
}
.countries-header p {
  margin: 0;
  line-height: 1.4;
}
.countries-header img {
  max-width: 8rem;
}
.countries-title {
  background-color: #edf0f4;
  padding: 16px 57px;
}
.countries-content {
  border-bottom: 1px solid #edf0f4;
  padding-top: 20px;
  padding-bottom: 13px;
  margin-left: 62px;
  margin-right: 57px;
}
.countries-content:last-of-type {
  border-bottom: 1px solid transparent;
}
.countries-content img {
  width: 38px;
}
.countries-content p {
  margin: 0;
}

/* Responsive */
@media only screen and (max-width: 760px) {
  .study-locations .curve {
    display: none;
  }
  .study-locations .hero-banner {
    padding: 0 0 32px 0;
  }
  .study-locations .hero-banner .content-inner-bg {
    max-width: 100%;
    margin-top: 46px;
  }
  .study-locations .hero-banner .content-inner-bg .row {
    padding: 16px;
  }
  .study-locations .hero-banner .image-mobile {
    background: linear-gradient(transparent 70%, #ffffff),
      url("../images/hero-locations-mobile.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
  }
  .study-locations .hero-banner .row {
    height: auto;
    margin-top: -30px;
  }
  .hero-banner {
    background: transparent !important;
  }
  .study-locations .hero-banner p {
    line-height: 1.22;
  }
  .study-locations .scroll-btn {
    bottom: -10%;
  }
  .participating-countries .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .participating-countries-inner {
    border-radius: 24px;
  }
  .countries-header {
    padding: 24px 16px;
  }
  .countries-header p {
    font-size: 16px;
  }
  .countries-title {
    padding: 16px;
  }
  .countries-content {
    padding: 16px;
  }
  .countries-content img {
    width: 24px;
  }
}

/* Removed phone number from locations */
.location-info-phone {
  display: none;
}

@media only screen and (max-width: 992px) {
  .countries-header {
    padding: 34px 0;
  }
  .countries-title {
    padding: 16px;
  }
  .countries-header img {
    max-width: 5rem;
  }
  .countries-content {
    padding: 14px 0;
    margin-left: 25px;
    margin-right: 25px;
  }
  .participating-countries-inner {
    width: 712px;
  }
  .participating-countries-wrap {
    /* overflow-x: scroll; */
  }
}

@media only screen and (max-width: 400px) {
  .participating-countries-wrap-outer:after {
    right: -4.5rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .participating-countries-wrap-outer {
    position: relative;
  }

  .participating-countries-wrap-outer:after {
    content: "";
    position: absolute;
    right: -1.5rem;
    top: 0;
    width: 100px;
    height: 100%;
    background: rgb(198,198,198);
    background: linear-gradient(270deg, rgba(198,198,198,0.9196722634366247) 0%, rgba(198,198,198,0) 100%);
  }
}
