.svg--downArrow {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1024px) {
  .svg--downArrow {
    width: 61px;
    height: 61px;
  }
}

.svg--downArrow .svg__pathDot {
  transition: .35s linear;
}

.svg--downArrow:hover .svg__pathDot {
  transform: translateY(-5px);
}
